.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    //got the box shadow using box shadow generator on google
    box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    -webkit-box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    -moz-box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    padding: 10px;
    border-radius: 10px;
    height: 100px;
}