.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    //got the box shadow using box shadow generator on google
    box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    -webkit-box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    -moz-box-shadow: -1px 5px 10px 3px rgba(33,33,33,0.32);
    padding: 10px;
    border-radius: 10px;
    height: 100px;

    .left,
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(160, 160, 160);
        }

        .counter{
            font-weight: 300;
            font-size: 28px;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage{
            font-size: 14px;
            display: flex;
            align-items: center;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}