.navbar{
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.137);
    color: white;
    border-left: 5px solid #7451f8;
    border-radius: 5px;
}