.new {
    display: flex;
    width: 100%;

    .newContainer{
        flex: 6;

        .top, 
        .bottom{
            display: flex;
            box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            padding: 20px;
            margin: 10px 20px;

            h1{
                font-size: 20px;
                color: lightgray;
            }

            .left{ 
                flex: 1;

                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                } 
            }
            .right { 
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    justify-content: space-around;

                    .formInput{
                        width: 40%;

                        label{
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }

                    button{
                        width: 150px;
                        padding: 10px;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        border: none;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}