.datatable{
    height: 600px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        display: flex;
        font-size: 24px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        color: gray;

        .link{
            color: green;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid green;
            border-radius: 5px;
            padding: 5px;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 20px;
            object-fit: cover;
        }
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: green;
            background: rgba(0, 128, 0, 0.05);
        }
        &.pending{
            color: goldenrod;
            background: rgba(218, 165, 32, 0.05);
        }
        &.passive{
            color: crimson;
            background: rgba(220, 20, 60, 0.05);
        }
    }

    .cellActions{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.6);
            cursor: pointer;
        }
        .deleteButton{
            padding: 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }
}